{
  "type": "array",
  "items": [
    {
      "type": "string",
      "enum": [
        "tabs",
        "spaces"
      ]
    },
    {
      "type": "number",
      "enum": [
        2,
        4
      ]
    }
  ],
  "minLength": 0,
  "maxLength": 5
}